<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
</head>
<body>
    <h1>All Users</h1>
    <table>
        <tr>id</tr>
        <tr>Full Name</tr>
        <tr>Email</tr>
        <tr>Created at</tr>
        {% for user in all_users %}
        <td>{{user.id}}</td>
        <td>{{user.first_name}} {{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.created_at}}</td>
        {% endfor %}
    </table>
    <a href="">Add a New User</a>
</body>
</html>